--index-url https://download.pytorch.org/whl/rocm7.2  # comment for CPU-only install

numpy
colormath
pillow
kmeans
openpyxl
requests
opencv-python
matplotlib
pandas
torch
torchvision
sqlparse
kornia
flask
werkzeug
tomli-w
torch-ema
scikit-learn